node_modules/**
src/**
**/*.ts
tsconfig.json
.git/
.github/
.vscode/
demo-api/
cli/node_modules/**
cli/src/**
cli/tsconfig.json
cli/package-lock.json
!cli/dist/**
!cli/package.json
!out/**
!media/**
!package.json
!readme.md
!LICENSE.txt
!SETTINGS_GUIDE.md
!plugin/
!plugin/**
